/* worth the read styles */
#wtr-progress {
	position:fixed;
	z-index:99999;
	overflow:hidden;
	transition:opacity 1s;
	opacity:1;
	-moz-box-shadow:    0px 0px 2px 3px rgba(0,0,0,.12);
    -webkit-box-shadow: 0px 0px 2px 3px rgba(0,0,0,.12);
    box-shadow:         0px 0px 2px 3px rgba(0,0,0,.12);
}
#wtr-progress.transparent {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#wtr-slider {
	position:relative;
	width:100%;
	height:100%;
	z-index:2;
	transition:background-color .8s;
}
#wtr-progress.mute {
	opacity:.5;
}
#wtr-progress-comments {
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}
#wtr-comments-end {
	position:relative;
	z-index:-999;
	top:-500px;
}
/* placement top */
#wtr-progress.top {
	left:0;
	width:100%;
}
#wtr-progress.top.wtr-rtl {
	left:auto;
	right:0;
}
#wtr-progress.top.shown {
	top:0!important;
}
.admin-bar #wtr-progress.top.shown {
	top:32px!important;
}
@media (max-width: 782px) { 
	.admin-bar #wtr-progress.top.shown {
		top:46px!important;
	}
}
@media (max-width: 600px) { 
	.admin-bar #wtr-progress.top.shown {
		top:0px!important;
	}
}
#wtr-progress.top #wtr-slider {
	top:0;
	left:-100%;
}
#wtr-progress.top.wtr-rtl #wtr-slider {
	left:auto;
	right:-100%;
}

/* placement bottom */
#wtr-progress.bottom {
	left:0;
	width:100%;
}
#wtr-progress.bottom.wtr-rtl {
	left:auto;
	right:0;
}
#wtr-progress.bottom.shown {
	bottom:0!important;
}
#wtr-progress.bottom #wtr-slider {
	bottom:0;
	left:-100%;
}
#wtr-progress.bottom.wtr-rtl #wtr-slider {
	left:auto;
	right:-100%;
}

/* placement left */
#wtr-progress.left {
	top:0;
	height:100%;
}
#wtr-progress.left.shown {
	left:0!important;
}
#wtr-progress.left #wtr-slider {
	left:0;
	top:-100%;
}

/* placement right */
#wtr-progress.right {
	top:0;
	height:100%;
}
#wtr-progress.right.shown {
	right:0!important;
}
#wtr-progress.right #wtr-slider {
	right:0;
	top:-100%;
}

/* time commitment */
.wtr-time-wrap {
	display:inline-block;
	margin:0 10px;
}
.wtr-time-wrap.block,
.wtr-time-wrap.before-content {
	display:block;
	margin:5px 0;
}
.wtr-time-number {
	/* style of the number specifically */
}
