body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 17.5px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

* {
  outline: 0 !important
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  color: #253c73;
}

.logo-wrapper img,
.logo-wrapper svg {
  max-width: 90px;
}

.nav-wrapper a {
  color: #fff;
  font-size: 16px;
  margin-left: 30px;
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
}

.nav-wrapper a:hover {
  color: #ea2845;
}

.nav-wrapper li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: -1rem;
  letter-spacing: .3rem;
}

.nav-wrapper .icon {
  margin-left: 27px;
  font-size: 22px;
}

.d-inline-block {
  display: inline-block;
}

#download-wrapper {
  padding-top: 30px;
}

.m-l-30 {
  margin-left: 30px !important
}

.page-header {
  background-color: rgba(0, 0, 0, 0);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  min-height: 720px;
  margin: 0 0;
}

#main-wrapper {
  padding-top: 140px
}

#main-wrapper h1 {
  font-weight: 100;
  font-size: 80px;
  margin: 0 0 0px;
  line-height: 80px;
}

.new-ver-bubble {
  font-size: 18px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  margin: 20px 10px 10px 20px;
  position: absolute;
  line-height: 20px;
}

#main-wrapper h4 {
  max-width: 600px;
  margin: 10px 0 0;
  font-size: 18px;
  line-height: 32px
}

.buttons-wrapper {
  padding: 40px 0;
}

.buttons-wrapper .btn:first-child {
  margin-right: 20px;
}

.buttons-wrapper .btn .fa-github {
  margin-right: 6px;
  font-size: 18px;
  vertical-align: middle
}

.btn {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  padding: 14px 28px;
  min-width: 230px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
}

.btn-primary {
  background: #253c73;
  border: 2px solid #253c73;
  color: #FFF;
}

.btn-primary:hover {
  border: 2px solid #253c73;
  background: 0 0;
  color: #fff
}

.btn-secondary {
  border: 2px solid #fff;
  color: #fff
}

.btn-secondary:hover {
  border: 2px solid #253c73;
  background: 0 0;
  color: #253c73;
}

.btn img {
  margin-right: 5px
}

.btn span {
  vertical-align: middle
}

#whats-new-wrapper {
  padding: 100px 0;
  background-color: #3557a6;
  color: #fff;
}

#whats-new-wrapper h4 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  line-height: 40px;
  color: #fff;
}

#whats-new-wrapper ul {
  padding-top: 20px;
  list-style-type: circle;
}

#whats-new-wrapper li {
  padding: 5px 0;
}

#highlights-wrapper {
  background: rgba(250, 250, 250, 1);
  /* Add the blur effect */
  padding: 100px 0;
  text-align: center;
}

#highlights-wrapper .highlight-block {
  padding: 20px 0;
}

#highlights-wrapper span {
  font-size: 80px;
  margin: 0 auto;
  display: block;
  color: #3557a6;
}

#highlights-wrapper h5 {
  text-transform: uppercase;
  font-size: 18px;
  color: #ea2845;
  margin: 40px 0 0
}

#highlights-wrapper p {
  font-size: 16px;
  max-width: 300px;
  margin: 20px auto;
  line-height: 30px
}

.page-footer {
  background-color: #374259;
  text-align: center;
  color: #090909;
  padding: 60px 20px;
  height: auto;
}

.page-footer .icon {
  color: #c2c3c3;
  font-size: 24px;
  margin: 0 10px;
}

.page-footer .icon:hover {
  color: #090909
}

.page-footer p {
  font-size: 14px;
  line-height: 26px;
  color: #a5a5a5
}

.page-footer p a {
  color: #FFF;
}

.m-l-10 {
  margin-left: 10px
}

.m-r-10 {
  margin-right: 10px
}

/* Menu Bar */
.navbar-sticky {
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5);
  background: #253c73;
  padding: 8px 0;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transition: all .18s ease-in-out;
  -ms-transition: all .18s ease-in-out;
  -webkit-transition: all .18s ease-in-out
}

/*
.navbar-sticky.visible {
  opacity: 1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0)
}
*/
.navbar-sticky {
  opacity: 1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0)
}

.navbar-sticky .menu-icon-mobile {
  display: none;
}

.navbar-sticky .logo-wrapper img {
  width: 60px
}

.navbar-sticky .nav-wrapper {
  margin: 5px 0 0;
  width: calc(100% - 70px);
  text-align: right;
  vertical-align: middle
}

.navbar-sticky .nav-wrapper a {
  color: #fff;
  font-size: 16px;
  margin-left: 20px
}

.navbar-sticky .nav-wrapper a:hover {
  color: #ea2845
}

.navbar-sticky .nav-wrapper .icon {
  margin-left: 12px;
  font-size: 16px
}

/*!
Desc section
 */
#description-wrapper {
  background: #f1f3f3;
  padding: 100px 0;
  background-color: #fff;
  overflow: hidden;
}

#description-wrapper .icon-wrapper {
  width: 70px;
  height: 75px;
  margin: 0 auto;
  display: block;
}

#description-wrapper h5 {
  font-weight: 400;
  font-size: 18px;
  color: #ea2845;
  margin: 40px 0 0
}

#description-wrapper p {
  text-align: justify;
  margin: 20px auto;
  line-height: 30px
}

#description-wrapper .platforms {
  /*    margin:auto;
    width:500px;*/
  text-align: center;
}

#description-wrapper .platform span {
  font-size: 60px;
  color: #404040;
}

#description-wrapper .platform p {
  text-align: center;
  /*  font-size:0.875rem;*/
  color: grey;
}

#description-wrapper .platform {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
}

#description-wrapper .supText {
  font-size: 13px;
  font-weight: 200;
}

/* Reference */
#reference-wrapper {
  background: #fff;
}

#reference-wrapper div {
  background: #fff;
}

.reference-category {
  padding-bottom: 80px;
}

#reference-title {
  text-align: center;
  font-size: 36px;
  padding: 30px;
  font-weight: 200;
  padding-top: 100px;
}

@media (max-width:1000px) {

  /* Menu Bar */
  .logo-wrapper {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .navbar-sticky {
    padding: 0;
    margin: 0;
    height: 80px;
  }

  .navbar-sticky.mobile-menu-active {
    height: 340px;
  }

  .nav-wrapper {
    display: none;
  }

  .nav-wrapper.mobile-menu-active {
    width: auto;
    display: grid;
    padding-top: 80px;
  }

  .nav-wrapper.mobile-menu-active li {
    padding-top: 20px;
  }

  .navbar-sticky .menu-icon-mobile {
    display: inline;
    position: fixed;
    right: 20px;
    top: 25px;
  }

  .navbar-sticky .menu-icon-mobile img {
    width: 38px;
  }

  .buttons-wrapper .btn,
  .buttons-wrapper .btn:first-child {
    margin-bottom: 20px;
  }

  .reference-category br {
    line-height: 3px;
  }

  .desktop-spacing {
    display: none;
  }

  .reference-category {
    padding-bottom: 20px;
  }

  #reference-wrapper {
    padding-bottom: 40px;
  }

  #reference-title {
    padding-top: 20px;
  }

  #gallery-wrapper .gallery_home_item {
    height: 200px;
  }
}

/*
@media (max-width:991px) {
  #description-wrapper {
    background-position: -400px bottom
  }

  .description-column {
    width: 100%;
    text-align: center
  }

  #main-wrapper {
    text-align: center
  }

  #main-wrapper h4 {
    margin-right: auto;
    margin-left: auto
  }

  .buttons-wrapper .btn,
  .buttons-wrapper .btn:first-child {
    margin: 0 10px
  }
}

@media (max-width:920px) {
  .highlight-block {
    margin-bottom: 50px
  }

  .highlight-block:last-of-type {
    margin-bottom: 0
  }

  .hidden-sm {
    display: none !important
  }

  .page-header {
    background-position: 35% bottom
  }

  .navbar-sticky {
    display: none
  }
}

@media (max-width:680px) {
  #description-wrapper {
    height: auto;
    background: #ffffff;
  }

  .description-column {
    padding-left: 0;
    padding-right: 0
  }
}

@media (max-width:640px) {
  .hidden-xs {
    display: none !important
  }

  .buttons-wrapper .btn,
  .buttons-wrapper .btn:first-child {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto
  }

  #main-wrapper {
    padding-top: 100px
  }

  .company-logo {
    margin: 30px auto 0;
    display: block
  }

  .buttons-wrapper .btn:first-of-type {
    margin-bottom: 20px
  }

  .event-bar {
    padding: 12px 0 30px
  }

  .event-bar p {
    display: block
  }

  .plyr--video {
    margin: 0 25px
  }
}
*/
.plyr__video-wrapper:not(.hidden-poster):before {
  content: "";
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: -1px;
  bottom: 0;
  width: 100%;
  background: url(/7475d7ba6cda948830d71cba21fa3f68c45e631d/9b59b/video-poster.9f7ff911.png) 50% no-repeat;
  background-size: 100%
}

.plyr__video-embed:not(.plyr__video-wrapper) {
  visibility: hidden
}

#learning-wrapper {
  background: #253C73;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

#learning-wrapper h4 {
  font-size: 36px;
  margin: 0;
  line-height: 120px;
  color: #fff;
}

#learning-wrapper p {
  max-width: 700px;
  margin: 15px auto 15px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

#examples-items {
  text-align: center;
  color: #333;
}

#examples-items img {
  display: inline-block;
}

#examples-items p {
  max-width: 700px;
  margin: 15px auto 15px;
  font-size: 16px;
  line-height: 30px
}

#examples-items a {
  color: #96b2f2;
}

#examples-wrapper {
  background: #FFF;
  text-align: center;
  color: #333;
  padding: 100px 0;

}

#examples-wrapper h4 {
  font-size: 36px;
  margin: 0;
  line-height: 60px;
}

#examples-wrapper p {
  max-width: 700px;
  margin: 15px auto 15px;
  font-size: 16px;
  line-height: 30px
}

#gallery-wrapper {
  background: #333;
  text-align: center;
  padding: 100px 0;
  text-align: center;
}

#gallery-wrapper h4 {
  font-size: 36px;
  margin: 0;
  line-height: 120px;
  color: #FFF;
}

#gallery-wrapper p {
  max-width: 700px;
  margin: 15px auto 100px;
  font-size: 16px;
  line-height: 30px;
  color: #FFF;
}

#gallery-wrapper div {
  margin: 0 auto;
}

#gallery-wrapper .slick-slider {
  margin: 0 auto;
}

#gallery-wrapper img {
  width: 180px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
}

#gallery-wrapper p {}

#gallery-wrapper a {
  color: #96b2f2;
}

#gallery-wrapper a:hover {
  text-decoration: underline;
}

.panel, .panel-default, .panel-heading {
  padding: 0;
  border: 0;
}

.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 15px;
  color: #FFF;
  background: #677BA6;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}

.panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list-group-item {
  color: #FFF;
  background: #677BA6;
}

.list-group-item a {
  color: #FFF;
}

.example-img {
  width: 150px;
  height: 150px;
  border: 1px solid #eee;
}

.slide {
  overflow: auto;
}

.slick-dots {
  position: relative;
}
.slick-dots li button {
  font-family: 'slick';
  font-size: 60px;
  line-height: 20px;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: white;
}

.video-background video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* download-section */
#download-section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  color: #000;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

#download-section h3 {
  font-size: 40px;
}

.downloadbox {
  border: solid;
  border-color: rgba(0, 0, 0, 0.54);
  padding: 1.5rem 0.5rem;
  border-width: 2px;
  max-width: 300px;
  margin: 1rem auto 4rem;
  border-radius: 5px;
}

.downloadbox a span {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 80px;
  margin: -1rem auto 0;
  z-index: 1;
}

.downloadbox.mini a span {
  max-width: 210px;
  height: 60px;
  margin: -0.5rem auto 0;
}

.downloadbox.smallest a span {
  height: 40px;
}

.downloadbox.mini {
  margin: 0 auto 1rem;
  padding: 0.7rem 0.1rem;
  border-width: 1px;
  max-width: 210px;
}

.downloadbox span {
  margin-top: 0rem;
  font-size: 12px;
  display: block;
  color: grey;
}

.downloadbox {
  font-size: 18px;
}

.downloadbox:hover {
  text-decoration: none;
  color: #00a7fd;
  border-color: #00a7fd;
}

.downloadbox span.sizes {
  padding-top: 1em;
}

span.sizes a {
  /*color:#006B8F !important;*/
  background-color: rgb(200, 200, 200);
  color: white;
  padding: 1px 2px;
}

.downloadbox:hover a.default {
  background-color: #00a7fd;
  color: white !important;
}

.downloadbox:hover a:not(.default) {
  color: rgb(200, 200, 200) !important;
}

.downloadbox:hover>span {
  color: #00a7fd;
}

.downloadbox p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 1.8rem;
}
