
html {
	position: relative;
	min-height: 450px
}

body {
	font-family: "Enriqueta", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size: 17.5px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased
}

* {
	outline: 0!important
}

a:active,
a:focus,
a:hover {
	text-decoration: none
}

a:active,
a:focus {
	color: rgba(56, 66, 90, 1);
}

.logo-wrapper img,
.logo-wrapper svg {
	max-width: 90px;
}

.nav-wrapper a {
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	margin-left: 30px;
	transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in
}

.nav-wrapper a:hover {
	color: #ea2845
}

.nav-wrapper li {
	display: inline-block;
	vertical-align: middle
}

.nav-wrapper .icon {
	margin-left: 27px;
	font-size: 22px
}

.d-inline-block {
	display: inline-block
}

.top-wrapper {
	padding-top: 30px
}

.m-l-30 {
	margin-left: 30px!important
}

.page-header {

	background-color:rgba(0, 0, 0, 0);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
	min-height: 720px;
	margin: 0 0;
}

.main-wrapper {
	padding-top: 140px
}

.main-wrapper h1 {
	font-weight: 500;
	font-size: 110px;
	font-family: EB Garamond, serif;
	margin: 0 0 35px;
	line-height: 75px
}

.main-wrapper h1 span {
	font-size: 30px;
	margin-left: 8px;
	font-weight: 700
}

.main-wrapper h4 {
	font-weight: 500;
	max-width: 600px;
	margin: 20px 0 0;
	font-size: 18px;
	line-height: 32px
}

.buttons-wrapper {
	padding: 40px 0
}

.buttons-wrapper .btn:first-child {
	margin-right: 20px
}

.buttons-wrapper .btn .fa-github {
	margin-right: 6px;
	font-size: 18px;
	vertical-align: middle
}

.btn {
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding: 14px 28px;
	min-width: 230px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in
}

.btn-primary {
	background: #ea2845;
	border: 2px solid #ea2845;
	color: #fff
}

.btn-primary:hover {
	border: 2px solid #e93333;
	background: 0 0;
	color: #fff
}

.btn-secondary {
	border: 2px solid #fff;
	color: #fff
}

.btn-secondary:hover {
	border: 2px solid #e92845;
	background: 0 0;
	color: #e92845
}

.btn img {
	margin-right: 5px
}

.btn span {
	vertical-align: middle
}

.event-bar {
	background-image: url(mane-bg.5d9b98ae.png);
	background-position: 70% top;
	background-repeat: no-repeat;
	background-color: #eb2845;
	color: #fff;
	text-align: center;
	display: block;
	font-weight: 500;
	font-size: 18px;
	padding: 6px 10px 4px;
	transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in
}

.event-bar:hover {
	background-color: #292526;
	color: #fff
}

.event-bar p {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 32px
}

.event-bar p strong {
	font-weight: 600
}

.event-bar img {
	height: 60px;
	margin-bottom: 12px
}

.highlights-wrapper {
	background: #f5f5f5;
	padding: 100px 0;
	text-align: center
}

.highlights-wrapper .highlight-block{
	padding: 20px 0;
}

.highlights-wrapper span {
font-size: 80px;
	margin: 0 auto;
	display: block
}

.highlights-wrapper h5 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: #ea2845;
	margin: 40px 0 0
}

.highlights-wrapper p {
	font-size: 16px;
	font-weight: 500;
	max-width: 300px;
	margin: 20px auto;
	line-height: 30px
}

.sponsors-wrapper,
.video-wrapper {
	padding: 100px 0;
	text-align: center
}

.video-wrapper {
	background: #f7f7f7
}

.sponsors-wrapper {
	background: #fdfdfd
}

.sponsors-wrapper h4,
.video-wrapper h4 {
	font-size: 36px;
	margin: 0;
	line-height: 60px;
	color: #ed1543
}

.sponsors-wrapper h5,
.video-wrapper h5 {
	font-size: 17px;
	letter-spacing: .3px;
	text-transform: uppercase
}

.sponsors-wrapper p,
.video-wrapper p {
	font-weight: 500;
	max-width: 700px;
	margin: 15px auto 100px;
	color: #000;
	font-size: 16px;
	line-height: 30px
}

.video-wrapper p a {
	color: #ed1543;
	font-weight: 600
}

.gold-logo,
.principal-logo {
	width: 320px;
	max-width: 100%
}

.gold-logo {
	margin: 10px
}

.silver-logo {
	width: 170px;
	max-width: 100%
}

.silver-logo--low {
	max-height: 120px;
	width: auto
}

.gojob-logo {
	width: 115px;
	margin-left: 15px
}

.company-logo {
	max-width: 100px;
	max-height: 75px;
	margin: 0 10px 15px
}

.logo-novologic {
	width: 200px
}

.company-logo--high {
	max-height: 90px;
	max-width: 100px
}

.company-logo--wide {
	max-width: 130px
}

.company-logo--wide2x {
	max-width: 150px
}

.company-logo--low {
	max-height: 40px
}

.company-logo--medium {
	max-height: 50px
}

.max-height-40 {
	max-height: 40px
}

.support-section {
	margin-bottom: 47px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto
}

.support-section:first-of-type {
	margin-top: 50px
}

.btn-black,
.sponsors-wrapper .btn-primary:hover {
	color: #fff;
	background: #090909;
	border: 2px solid #090909
}

.btn-black span {
	color: #969696;
	margin: 0 3px;
	transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in
}

.btn-black:hover {
	background: #ea2845;
	border: 2px solid #ea2845;
	color: #fff
}

.btn-black:hover span {
	color: #fff
}

.page-footer {
	background-color: #f1f3f3;
	text-align: center;
	color: #090909;
	padding: 60px 20px
}

.page-footer .icon {
	color: #c2c3c3;
	font-size: 24px;
	margin: 0 10px
}

.page-footer .icon:hover {
	color: #090909
}

.page-footer p {
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	color: #a5a5a5
}

.page-footer p a {
	color: #ea2845;
	font-weight: 600
}

.m-l-10 {
	margin-left: 10px
}

.m-r-10 {
	margin-right: 10px
}








/* Menu Bar */


.navbar-sticky {
	position: fixed;
	z-index: 100000;
	left: 0;
	right: 0;
	top: 0;
	height: 60px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .07);
	background: rgba(56, 66, 90, 1);
	padding: 8px 0;
	opacity: 0;
	transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
	transition: all .18s ease-in-out;
	-ms-transition: all .18s ease-in-out;
	-webkit-transition: all .18s ease-in-out
}

.navbar-sticky.visible {
	opacity: 1;
	transform: translateZ(0);
	-webkit-transform: translateZ(0)
}

.navbar-sticky .logo-wrapper img {
	width: 60px
}

.navbar-sticky .nav-wrapper {
	margin: 5px 0 0;
	width: calc(100% - 70px);
	text-align: right;
	vertical-align: middle
}

.navbar-sticky .nav-wrapper a {
	color: #fff;
	font-size: 14px;
	margin-left: 20px
}

.navbar-sticky .nav-wrapper a:hover {
	color: #ea2845
}

.navbar-sticky .nav-wrapper .icon {
	margin-left: 12px;
	font-size: 16px
}

.description-wrapper {
/*	background-image: url(support.f8bcb7f8.png);*/ß
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-color: #fff;

	overflow: hidden
}

.description-column {
	width: 60%;
	float: right;
	padding: 90px 0;
	color: #fff
}

.description-column h2 {
	font-size: 32px;
	margin-top: 0
}

.description-column p {
	font-weight: 500;
	line-height: 32px
}



@media (max-width:1300px) {
	.description-wrapper {
		background-position: -250px bottom
	}
	.description-column {
		width: 70%;
		padding: 70px
	}
}

@media (max-width:991px) {
	.description-wrapper {
		background-position: -400px bottom
	}
	.description-column {
		width: 100%;
		text-align: center
	}
	.main-wrapper {
		text-align: center
	}
	.main-wrapper h4 {
		margin-right: auto;
		margin-left: auto
	}
	.buttons-wrapper .btn,
	.buttons-wrapper .btn:first-child {
		margin: 0 10px
	}
}

@media (max-width:920px) {
	.highlight-block {
		margin-bottom: 50px
	}
	.highlight-block:last-of-type {
		margin-bottom: 0
	}
	.hidden-sm {
		display: none!important
	}
	.page-header {
		background-position: 35% bottom
	}
	.navbar-sticky {
		display: none
	}
}

@media (max-width:680px) {
	.description-wrapper {
		height: auto;
		background: #ed1543
	}
	.description-column {
		padding-left: 0;
		padding-right: 0
	}
}

@media (max-width:640px) {
	.hidden-xs {
		display: none!important
	}
	.buttons-wrapper .btn,
	.buttons-wrapper .btn:first-child {
		display: block;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto
	}
	.main-wrapper {
		padding-top: 100px
	}
	.company-logo {
		margin: 30px auto 0;
		display: block
	}
	.buttons-wrapper .btn:first-of-type {
		margin-bottom: 20px
	}
	.event-bar {
		padding: 12px 0 30px
	}
	.event-bar p {
		display: block
	}
	.plyr--video {
		margin: 0 25px
	}
}

.plyr__video-wrapper:not(.hidden-poster):before {
	content: "";
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: -1px;
	bottom: 0;
	width: 100%;
	background: url(/7475d7ba6cda948830d71cba21fa3f68c45e631d/9b59b/video-poster.9f7ff911.png) 50% no-repeat;
	background-size: 100%
}

.plyr__video-embed:not(.plyr__video-wrapper) {
	visibility: hidden
}

.learning-wrapper {
	background: #111;
	text-align: center;
	color: #fff;
	padding: 100px 0
}

.learning-wrapper h4 {
	font-size: 36px;
	margin: 0;
	line-height: 60px
}

.learning-wrapper p {
	font-weight: 500;
	max-width: 700px;
	margin: 15px auto 100px;
	font-size: 16px;
	line-height: 30px
}

.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;

	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active  a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
