.wp_syntax {
	color           : #100;
	background-color: #f9f9f9;
	border          : 1px solid silver;
	margin          : 0 0 1.5em 0;
	overflow        : auto;
}

/* IE FIX */
.wp_syntax {
	overflow-x    : auto;
	overflow-y    : hidden;
	padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 15 : 0);
	width         : 99%;
}

.wp_syntax table {
	border         : none !important;
	border-collapse: collapse !important;
	margin         : 0 !important;
	padding        : 0 !important;
	width          : 100% !important
}

.wp_syntax caption {
	margin          : 0 !important;
	padding         : 2px 0 !important;
	width           : 100% !important;
	background-color: #def !important;
	text-align      : left !important;
	font-family     : monospace !important;
	font-size       : 12px !important;
	line-height     : 1.2em !important;
}

.wp_syntax caption a {
	color          : #1982d1 !important;
	text-align     : left !important;
	font-family    : monospace !important;
	font-size      : 12px !important;
	line-height    : 16px !important;
	text-decoration: none !important;
}

.wp_syntax caption a:hover {
	color          : #1982d1 !important;
	text-decoration: underline !important;
}

.wp_syntax div, .wp_syntax td {
	border        : none !important;
	text-align    : left !important;
	padding       : 0 !important;
	vertical-align: top !important;
}

.wp_syntax td.code{
	background-color: #EEE;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: -moz-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: -ms-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: -o-linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-image: linear-gradient( transparent 50%, rgba(255, 255, 255, .9) 50% );
	background-size : 1px 32px;
	line-height     : normal !important;
	white-space     : normal !important;
	width           : 100% !important;
}

/* potential overrides for other styles */
.wp_syntax pre {
	background           : transparent !important;
	border               : none !important;
	margin               : 0 !important;
	width                : auto !important;
	float                : none !important;
	clear                : none !important;
	overflow             : visible !important;
	font-family          : monospace !important;
	font-size            : 14px !important;
	line-height          : 16px !important;
	padding              : 0 4px !important;
	white-space          : pre !important;
	-moz-box-shadow      : 0 0 0 rgba(0, 0, 0, 0) !important; /* FF3.5+ */
	-webkit-box-shadow   : 0 0 0 rgba(0, 0, 0, 0) !important; /* Saf3.0+, Chrome */
	box-shadow           : 0 0 0 rgba(0, 0, 0, 0) !important; /* Opera 10.5, IE 9.0 */
	-webkit-border-radius: 0 !important;
	-moz-border-radius   : 0 !important;
	border-radius        : 0 !important;
}

.wp_syntax td.line_numbers pre {
	background-color: #def !important;
	color           : gray !important;
	text-align      : right !important;
	min-width       : 16px !important;
}
