.gallery_home {
    margin-top: 1px;
    line-height: 14px;
}

.gallery_spacer {
  line-height: 3px;
}

.gallery_home1 {
    margin-top: 1px;
    left: 30px;
    line-height: 14px;
    width:200px;
}

.gallery_home2 {

    position:relative;
    margin-top: 1px;
    left: 270px;
    top: -506px;
    line-height: 14px;
    width:200px;
}

.gallery_home3 {
position:relative;

    margin-top: 1px;
    left: 540px;
    top: -1017px;
    line-height: 14px;
    width:200px;
}

.ptitle {
  position:absolute;
  padding-left: 0em;
  padding-bottom: 1em;
  color: #3F5366;
  font-family: "lucida console", verdana;
  font-size: 18px;
  top: 20px;
  left: 30px;
  line-height: 20px;
}
